# Konteynerler

```Python```'da rastgele sayıda obje barındıran veri türleridir. Bunlara ```dizi```ler diyeceğiz.

- ```str```
- ```list```
- ```dict```
- ```tuple```
- ```set```

## İndeksleme (Indexing)

```Python```'da bir dizi'nin elemanlarına erişmek için indeksler kullanılır.

İndeksler ```0```'dan başlar ve dizinin eleman sayısının bir eksiğine kadar gider.

### Pozitif indeksleme

İndeksler ```int``` olmak zorunda. Kesirli sayı indeks mümkün değildir. ```0``` indeksi ilk eleman, ```1``` indeksi ikinci eleman ve böylece devam eder.

### Negatif indeksleme

Bir dizinin elemenlarına negatif tam sayı indekslerle ulaşılabilir. ```-1``` son eleman, ```-2``` sondan bir önceki eleman olacaktır.

### Aralık indeksleme

Bir dizinin elemanlarına aralık vererek ulaşılabilir. Bunun için 3 adet ```int``` kullanılır ve bu sayılar ```:``` ile ayrılır.

```
[Başlangıç: Bitiş: Adım]
```

şeklinde ifade edilir.

:::{note}

Başlangıç derğeri verilmediğinde ```0```, bitiş derğeri verilmediğinde ```-1``` ve adım değeri verilmediğinde ```1``` olarak kebul edileceltir.

:::

## ```str```

Metin veri tipidir.

<hr>

```str``` veri tipine örnek

In [1]:
"Mohammad"

'Mohammad'

İndexleme kullanarak bir ```str```'in elemanlarına ulaşabiliriz.

<hr>

Örnek

Bir ```str```'de ilk harfi gösteriniz

In [2]:
mtn = "Muhammed"

mtn[0]

'M'

<hr>

Örnek

bir ```str```'in son harfini gösteriniz

In [3]:
mtn = "Muhammed"

mtn[-1]

'd'

<hr>

Örnek

Bir ```str```'nin ```1., 3., 5., ...``` harfini gösteriniz

In [4]:
mtn = "Muhammed"
mtn[::2]

'Mhme'

<hr>

Örnek

Bir ```str```'yi ters çeviriniz

In [5]:
mtn = "Muhammed"

mtn[::-1]

'demmahuM'

### ```str```'nin yararlı metodlar

- endswith, Bir metnin başka bir metinle bitip bitmediğini sınar
- find, Bir metinin içinde başka bir metin arar. İlk indeks verilir
- lower, Bir metni küçük harflre dönüştürür (I harfi sorun olabilir)
- join, metinleri birleştirir
- removeprefix, ön ek siler
- removesuffix, son ek siler
- replace, metin içinde aranan metni başka bir metinle değiştirir 
- split, metni böler
- startswith, Bir metnin başka bir metinle başlayıp başlamadığını sınar
- strip, ön ve son boşlukları siler
- title, Her kelimeyi büyük harf ile başlatır
- upper, Bir metni büyük harflre dönüştürür (I harfi sorun olabilir)

<hr>

Örnek

In [6]:
mtn = "Muhammed shameoni niaei"

mtn.endswith("i")

True

In [54]:
mtn = "Muhammed shameoni niaei"

mtn.find("m")

4

In [55]:
mtn = "Muhammed shameoni niaei"

mtn.lower()

'muhammed shameoni niaei'

In [56]:
mtn = "Muhammed shameoni niaei"

",".join(mtn)

'M,u,h,a,m,m,e,d, ,s,h,a,m,e,o,n,i, ,n,i,a,e,i'

In [1]:
mtn = "Muhammed shameoni niaei"

mtn.removeprefix("Mu")

AttributeError: 'str' object has no attribute 'removeprefix'

In [58]:
mtn = "Muhammed shameoni niaei"

mtn.removesuffix("Mu")

'Muhammed shameoni niaei'

In [59]:
mtn = "Muhammed shameoni niaei"

mtn.split("m") # m'ye göre böl.

['Muha', '', 'ed sha', 'eoni niaei']

In [60]:
mtn = "Muhammed shameoni niaei"

mtn.split() # beyazboşluğa göre böl. Ard arda gelen boşlukları 1 sayar

['Muhammed', 'shameoni', 'niaei']

In [61]:
mtn = "Muhammed shameoni niaei"

mtn.startswith("a")

False

In [62]:
mtn = " Muhammed       "

mtn.strip()

'Muhammed'

In [63]:
mtn = "Muhammed shameoni niaei"

mtn.title()

'Muhammed Shameoni Niaei'

In [64]:
mtn = "Muhammed shameoni niaei"

mtn.upper()

'MUHAMMED SHAMEONI NIAEI'

:::{note}
```Python```'da çoklu satır metinler de yazılabilir. Bunun için metin ```"""``` ile çevrelenir
:::

<hr>

Örnek

In [1]:
mtn = """Muhamed
Yusuf
Yücel
Yavuz"""

mtn

'Muhamed\nYusuf\nYücel\nYavuz'

## ```list```

Rastgele eleman ve farklı veri tiplerinden oluşan bir veri tipidir .

<hr>

```list``` veri tipine örnek

In [18]:
[1, 1.1, "muhammed", ["shameoni", "niaei"]]

[1, 1.1, 'muhammed', ['shameoni', 'niaei']]

İndexleme kullanarak bir ```list```'in elemanlarına ulaşabiliriz.

<hr>

Örnek

Bir ```list```'te ilk elemanını gösteriniz

In [19]:
lst = [1, 1.1, "muhammed", ["shameoni", "niaei"]]

lst[0]

1

<hr>

Örnek

bir ```list```'in son elemanını gösteriniz

In [20]:
lst = [1, 1.1, "muhammed", ["shameoni", "niaei"]]

lst[-1]

['shameoni', 'niaei']

<hr>

Örnek

Bir ```list```'in ```1., 3., 5., ...``` elemanını gösteriniz

In [21]:
lst = [1, 1.1, "muhammed", ["shameoni", "niaei"]]

lst[::2]

[1, 'muhammed']

<hr>

Örnek

Bir ```list```'i ters çeviriniz

In [22]:
lst = [1, 1.1, "muhammed", ["shameoni", "niaei"]]

lst[::-1]

[['shameoni', 'niaei'], 'muhammed', 1.1, 1]

### ```list```'nin yararlı metodlar

- append, Bir ```list```'in sonuna verilen değeri ekler. ```list```'in üzerinde çalışır (```inplace```)
- copy, Bir ```list```'in kopyasını oluşturur
- extend, Bir ```list```'in sonuna verilen ```list```'in elemanlarını ekler
- index, Bir ```list```'te aranan elemanı bulur (ilk index verilir)
- insert, Bir ```list```'e verilen değer, istenen sıraya yerleştirilir
- pop, Bir ```list```'in verilen indexi silinir ve silinen değer iade edilir
- remove, Bir ```list```'in içinden bir değer silinir (ilk index)
- sort, Bir ```list```'i sıralar. ```list```'in üzerinde çalışır (```inplace```)

<hr>

Örnek

In [23]:
lst = ["1", "2", "3", "4", "5", "1", "6", "7", "8", "9"]

lst.append("Muhammed")
lst

['1', '2', '3', '4', '5', '1', '6', '7', '8', '9', 'Muhammed']

In [24]:
lst = ["1", "2", "3", "4", "5", "1", "6", "7", "8", "9"]

lst.copy()

['1', '2', '3', '4', '5', '1', '6', '7', '8', '9']

In [25]:
lst = ["1", "2", "3", "4", "5", "1", "6", "7", "8", "9"]

lst.extend(["Muhammed", "shameoni", "niaei"])
lst

['1',
 '2',
 '3',
 '4',
 '5',
 '1',
 '6',
 '7',
 '8',
 '9',
 'Muhammed',
 'shameoni',
 'niaei']

In [26]:
lst = ["1", "2", "3", "4", "5", "1", "6", "7", "8", "9"]

lst.index("1")

0

In [27]:
lst = ["1", "2", "3", "4", "5", "1", "6", "7", "8", "9"]

lst.insert(5, "muhammed")
lst

['1', '2', '3', '4', '5', 'muhammed', '1', '6', '7', '8', '9']

In [70]:
lst = ["1", "2", "3", "4", "5", "1", "6", "7", "8", "9"]

silinen = lst.pop(6)
print(silinen)
print(lst)

6
['1', '2', '3', '4', '5', '1', '7', '8', '9']

In [71]:
lst = ["1", "2", "3", "4", "5", "1", "6", "7", "8", "9"]

lst.remove("3")
lst

['1', '2', '4', '5', '1', '6', '7', '8', '9']

In [72]:
lst = ["1", "2", "3", "4", "5", "1", "6", "7", "8", "9"]

lst.sort()
lst

['1', '1', '2', '3', '4', '5', '6', '7', '8', '9']

```list```'ten indeks ile eleman silmek için ```del``` anahtar kelimesi kullanılır

<hr>

Bir ```list```'ten ```5.``` elemanı siliniz

In [73]:
lst = ["1", "2", "3", "4", "5", "1", "6", "7", "8", "9"]

del lst[5]
lst

['1', '2', '3', '4', '5', '6', '7', '8', '9']

```str```'nin ```join``` metodu ve ```list``` ile çok eğlenceli şeyler yapabilirsiniz.

<hr>

Örnek

In [74]:
lst = ["Muhammed", "Shameoni", "Niaei"]

csv = ", ".join(lst)
csv

'Muhammed, Shameoni, Niaei'

## ```dict```

En sevdiklerimden biridir. ```Json``` benzeri bir veri tipidir. Bir anahtar ve bir değerden oluşur.

:::{note}
Anahtarlar, 
- ```str```
- ```int```
- ```float```
- ```complex```
- ```tuple```

olabilir. Fakat,

- ```dict```
- ```list```
- ```set```

olamaz.
:::

<hr>

```dict``` veri tipine örnek

In [32]:
{"ad": "Muhammed", "soyad": "Shameoni Niaei", "dtarihi": 1988}

{'ad': 'Muhammed', 'soyad': 'Shameoni Niaei', 'dtarihi': 1988}

İndeksleme kullanarak bir ```list```'in elemanlarına ulaşamayız.

Bir ```dict```'in ```0.```, ```1.``` elemanına değil, ```anahtar``` değerine ulaşılır

:::{note}
```dict```'te 1 diye bir anahtar olursa ```dct[1]``` yanıt verir. Ama bu ```1.``` indekse ulaştığımız anlamına gelmez
:::


:::{warning}
```dict```'in iki anahtarı aynı olmamaz.
:::

<hr>

Örnek

Bir ```dict```'te herhangi bir elemanı gösteriniz.

In [33]:
dct = {"ad": "Muhammed", "soyad": "Shameoni Niaei", "dtarihi": 1988}

dct["ad"]

'Muhammed'

<hr>

Örnek

Bir ```dict```'te ```Atatürk Üniversitesi``` değerine sahip ```kurumu``` diye bir anahtar ekleyiniz.

In [80]:
dct = {"ad": "Muhammed", "soyad": "Shameoni Niaei", "dtarihi": 1988}

dct["kurumu"] = "Atatürk Üniversitesi"
dct

{'ad': 'Muhammed',
 'soyad': 'Shameoni Niaei',
 'dtarihi': 1988,
 'kurumu': 'Atatürk Üniversitesi'}

Örnek

Bir ```dict```'ten herhangi bir elemanı siliniz.

In [81]:
dct = {"ad": "Muhammed", "soyad": "Shameoni Niaei", "dtarihi": 1988}

del dct["ad"]
dct

{'soyad': 'Shameoni Niaei', 'dtarihi': 1988}

### ```dict```'nin yararlı metodlar

- copy, ```dict```'in kopyasını oluşturur
- items, ```dict```'in anahtar, değer ikilikerini verir
- keys, ```dict```'in anahtarlarını verir
- get, ```dict```'in bir anahtarının değerini verir

<hr>

Örnek

In [34]:
dct = {"ad": "Muhammed", "soyad": "Shameoni Niaei", "dtarihi": 1988}

dct.copy()

{'ad': 'Muhammed', 'soyad': 'Shameoni Niaei', 'dtarihi': 1988}

In [35]:
dct = {"ad": "Muhammed", "soyad": "Shameoni Niaei", "dtarihi": 1988}

dct.items()

dict_items([('ad', 'Muhammed'), ('soyad', 'Shameoni Niaei'), ('dtarihi', 1988)])

In [36]:
dct = {"ad": "Muhammed", "soyad": "Shameoni Niaei", "dtarihi": 1988}

dct.keys()

dict_keys(['ad', 'soyad', 'dtarihi'])

In [37]:
dct = {"ad": "Muhammed", "soyad": "Shameoni Niaei", "dtarihi": 1988}

dct.get("ad")

'Muhammed'

:::{note}
```dct[anahtar]```, bir ```dict```'in ```anahtar``` değerini gösterir. ```get``` metodu da aynı şeyi yapar. Amaç?

```dct[anahtar]``` yönteminde eğer ```anahtar```, ```dict```'in içinde mevcüt değilse, HATA alırsınız.

```get``` metodunda ise varayılan ```None``` değeri alırsınız. İsterseniz, ```anahtar``` bulunmadığında özel bir değer de alabilirsiniz

:::

<hr>

Örnek

In [38]:
dct = {"ad": "Muhammed", "soyad": "Shameoni Niaei", "dtarihi": 1988}

dct["adi"]

KeyError: 'adi'

In [39]:
dct = {"ad": "Muhammed", "soyad": "Shameoni Niaei", "dtarihi": 1988}

print(dct.get("adi"))

None

In [40]:
dct = {"ad": "Muhammed", "soyad": "Shameoni Niaei", "dtarihi": 1988}

print(dct.get("adi", "Bulamadım"))

Bulamadım

## ```tupe```

```tupe```, ```list```'e benzer bir dizi veri tipidir. Farklı olarak oluşturulduktan sonra düzenlenemez.

Böyle bir şeye neden ihtiyacımız olsun ki?

Elinizde bir konumun coğrafi koordinatları var. Söz konusu koordinatın değişme durumu olamaz. Bu durumda kod içerisinde bir yerde değeri değiştirememek adına ```tupe``` tercih edilebilir.

Aynı şey, renk değerleri için geçerli olabilir. Rengin değeri değişmez.


<hr>

```tupe``` veri tipine örnek

In [41]:
("1", "2", "3", "4", "5", "1", "6", "7", "8", "9")

('1', '2', '3', '4', '5', '1', '6', '7', '8', '9')

İndexleme kullanarak bir ```tuple```'in elemanlarına ulaşabiliriz.

<hr>

Örnek

Bir ```tuple```'de ilk harfi gösteriniz

In [42]:
tpl = ("1", "2", "3", "4", "5", "1", "6", "7", "8", "9")

tpl[0]

'1'

<hr>

Örnek

bir ```tpl```'in son elemanını gösteriniz

In [43]:
tpl = ("1", "2", "3", "4", "5", "1", "6", "7", "8", "9")

tpl[-1]

'9'

<hr>

Örnek

Bir ```tpl```'in ```1., 3., 5., ...``` elemanını gösteriniz

In [44]:
tpl = ("1", "2", "3", "4", "5", "1", "6", "7", "8", "9")

tpl[::2]

('1', '3', '5', '6', '8')

<hr>

Örnek

Bir ```tuple```'i ters çeviriniz

In [45]:
tpl = ("1", "2", "3", "4", "5", "1", "6", "7", "8", "9")

tpl[::-1]

('9', '8', '7', '6', '1', '5', '4', '3', '2', '1')

```tuple```'ın öyle acayip acapyi metodları yok. Elemanı güncelleymiyoruz bile

## ```set```

```set``` de, ```list```'e benzer bir dizi veri tipidir. Farklı olarak tekrar veri barındıramaz. Tekil olmak zorunda.

Böyle bir şeye neden ihtiyacımız olsun ki? Neden olmasın?


<hr>

```tupe``` veri tipine örnek

In [46]:
{"1", "2", "3", "4", "5", "1", "6", "7", "8", "9"}

{'1', '2', '3', '4', '5', '6', '7', '8', '9'}

İndeksleme kullanarak bir ```set```'in elemanlarına ulaşamayız.

### ```set```'in yararlı metodlar

- add, Bir ```set```'e bir eleman ekler. Eleman zaten varsa hiçbir şey yapmaz. ```set```'in üzerinde çalışır (```inplace```)
- copy, Bir ```set```'in koyasını oluşturur
- difference, İki ```set```'in farklını iade eder
- intersection, İki ```set```'in kesişimini iade eder
- union, İki ```set```'in birleşimini verir

<hr>

Örnek

In [47]:
st = {"1", "2", "3", "4", "5", "1", "6", "7", "8", "9"}

st.add("muhammed")
st

{'1', '2', '3', '4', '5', '6', '7', '8', '9', 'muhammed'}

In [48]:
st = {"1", "2", "3", "4", "5", "1", "6", "7", "8", "9"}

st.copy()

{'1', '2', '3', '4', '5', '6', '7', '8', '9'}

In [49]:
st = {"1", "2", "3", "4", "5", "1", "6", "7", "8", "9"}
st2 = {"3", "muhammed", "5", "Shameoni", "Niaei"}

st.difference(st2)

{'1', '2', '4', '6', '7', '8', '9'}

In [50]:
st = {"1", "2", "3", "4", "5", "1", "6", "7", "8", "9"}
st2 = {"3", "muhammed", "5", "Shameoni", "Niaei"}

st.intersection(st2)

{'3', '5'}

In [51]:
st = {"1", "2", "3", "4", "5", "1", "6", "7", "8", "9"}
st2 = {"3", "muhammed", "5", "Shameoni", "Niaei"}

st.union(st2)

{'1', '2', '3', '4', '5', '6', '7', '8', '9', 'Niaei', 'Shameoni', 'muhammed'}

:::{note}
```set```'i kullanarak bir ```list```'in tekil değerlerini (unique) alabiliriz
:::

In [52]:
lst = [1, 2, 3, 5, 4, 5, 1, 6, 7, 8, 9]

list(set(lst))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

```{image} ../images/no_idea.gif
:class: bg-primary mb-1
:width: 400px
:align: center
```